#main{

      background-color: #f5eef0; 
    width: 60%; 
    margin: 5% 25% 5% 25%; 
    padding: 20px; 
    padding-top: 40px;
    box-shadow: 0 0 10px rgba(110, 7, 7, 0.1); 
    border-radius: 15px; 
}

#img1{width: 100%;}

body {
    
    font-family: Arial, sans-serif;
    background-color:  #e9c0a8; /* Color outside the frame */

  }


#h1{color: rgb(8, 8, 8); text-align: center; margin-bottom: 5px; margin-top: 5px;}

#preparationtime{background-color: rgb(233, 191, 226); padding: 20px;}
#prephead{color: rgb(174, 29, 231); text-align: center;
     font-size: larger;





    
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    #ingheading{font-size: larger; 
        color: rgb(145, 83, 119);
         text-align: center;
        padding-top: 5px;}
